@import '../lib/custom.bootstrap.import.less';

@main-menu-width: 300px;

.position-relative { position: relative; }

.clickable {
  cursor: pointer;
}

#add-factor-form {
 /* margin: 0;*/
}

#heading-add-factor {
  color: @btn-primary-color;
  background-color: @btn-primary-bg;
}

.panel-group .panel, .panel-heading {
  border-radius: 0;
  border: none;
}

.main-menu {
  width: @main-menu-width;
  height:100%;
  background-color: @gray-light;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding:5px;
}

.display-button {
  display:inline-block;
  cursor:pointer;
}

.inline-block {
  display:inline-block;
}

.content {
  margin-left: @main-menu-width;
}

.datepicker-container {
  margin-bottom: 5px;
}